<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/utility.js"></script>
    <title>Flashcard Generator</title>
</head>
<body class="p-10 bg-gray-100">
<div class="max-w-4xl mx-auto bg-white p-6 shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-4">Flashcard Generator</h1>

    {% if error_type == 404 %}
    <div hx-get="/error" hx-swap="outerHTML" hx-trigger="load"
         hx-vals='{"error_type": "404", "file_name": "{{ file_name }}"}'></div>
    {% elif error_message %}
    <div hx-get="/error" hx-swap="outerHTML" hx-trigger="load"
         hx-vals='{"error_message": "{{ error_message }}"}'></div>
    {% else %}
    <form id="flashcard-form" hx-post="/generate-pdf" hx-target="#pdf-link" enctype="multipart/form-data">
        <label>
            <input type="checkbox" id="excludeImages" name="exclude_images">
            Exclude Images
        </label>

        <table class="w-full border-collapse border border-gray-300" id="flashcard-table">
            <thead>
            <tr>
                <th class="border p-2" id="image-column">Image</th>
                <th class="border p-2">Word</th>
                <th class="border p-2">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr hx-get="/add-row" hx-trigger="load"></tr>
            </tbody>
        </table>

        <button type="button" class="mt-4 bg-blue-500 text-white px-4 py-2"
                hx-post="/add-row" hx-target="#flashcard-table tbody" hx-swap="beforeend">
            Add Row
        </button>
        <button type="submit" class="mt-4 bg-green-500 text-white px-4 py-2">Generate PDF</button>
    </form>
    <div id="pdf-link" class="mt-4"></div>
</div>
{% endif %}

</body>
</html>