<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/js/utility.js"></script>
    <title>Flashcard Generator</title>
</head>
<body class="p-10 bg-gray-100">
<div class="max-w-4xl mx-auto bg-white p-6 shadow-md rounded-lg">
    <div id="main" hx-post="/flashcard-form" hx-trigger="load" hx-swap="outerHTML"></div>
</div>
</body>
</html>