name: Build and Push on PR Events
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract PR number
        if: github.event_name == 'pull_request'
        run: echo "PR_NUMBER=${{ github.event.number }}" >> $GITHUB_ENV

      - name: Build only (Dependabot PR)
        if: github.actor == 'dependabot[bot]'
        run: |
          docker buildx build \
            --build-arg BETTER_AUTH_SECRET=dummybetterauthsecret \
            --build-arg GOOGLE_CLIENT_ID=dummygoogleclientid \
            --build-arg GOOGLE_CLIENT_SECRET=dummygoogleclientsecret \
            -t local/test:pr .

      - name: Log in to GitHub Container Registry (GHCR)
        if: github.actor != 'dependabot[bot]'
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Log in to Docker Hub
        if: github.actor != 'dependabot[bot]'
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build and push Docker image (PR)
        if: github.actor != 'dependabot[bot]'
        run: |
          GHCR_IMAGE="ghcr.io/${{ github.repository_owner }}/${{ github.event.repository.name }}"
          DOCKERHUB_IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}"
          TAG="pr-${{ env.PR_NUMBER }}"
          
          docker buildx build \
            --build-arg BETTER_AUTH_SECRET=dummybetterauthsecret \
            --build-arg GOOGLE_CLIENT_ID=dummygoogleclientid \
            --build-arg GOOGLE_CLIENT_SECRET=dummygoogleclientsecret \
            -t $DOCKERHUB_IMAGE:$TAG .
          docker push $DOCKERHUB_IMAGE:$TAG

          docker tag $DOCKERHUB_IMAGE:$TAG $GHCR_IMAGE:$TAG
          docker push $GHCR_IMAGE:$TAG