name: Release to Docker Hub

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract version from tag (e.g. v1.2.3 -> 1.2.3)
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Log in to GitHub Container Registry (GHCR)
        run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build and push Docker image
        run: |
          IMAGE_NAME="${{ github.repository_owner }}/${{ github.event.repository.name }}"
          GHCR_IMAGE="ghcr.io/$IMAGE_NAME"
          TAG="${{ env.VERSION }}"
          
          docker buildx build \
            --build-arg BETTER_AUTH_SECRET=dummybetterauthsecret \
            --build-arg GOOGLE_CLIENT_ID=dummygoogleclientid \
            --build-arg GOOGLE_CLIENT_SECRET=dummygoogleclientsecret \
            -t $IMAGE_NAME:$TAG \
            -t $IMAGE_NAME:latest .
          
          docker push $IMAGE_NAME:$TAG
          docker push $IMAGE_NAME:latest
          
          docker tag $IMAGE_NAME:$TAG $GHCR_IMAGE:$TAG
          docker tag $IMAGE_NAME:latest $GHCR_IMAGE:latest
          docker push $GHCR_IMAGE:$TAG
          docker push $GHCR_IMAGE:latest
          
